<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="shortcut icon" href="/images/Screenshot 2023-05-20 110941.png" type="image/x-icon">
</head>
<body>
    <div id="main">
        <div id="left">
            <img src="https://i.pinimg.com/564x/0d/96/b9/0d96b9078e59a07569c9778de97eaff2.jpg" alt="">
            <div id="ii"><img src="/images/green-removebg-preview.png" alt=""></div>
            <div id="iii"><img src="/images/greeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee.jpg" alt=""></div>
        </div>
        <div id="right">
            <h1>Sign in</h1>
            <a href="/profile"><img id="logo" src="./images/Screenshot 2023-05-20 110941.png" alt=""></a>

            <form action="/login" method="post">
                
                <div id="email"><input type="text" placeholder="Username" name="username"></div>
                <div id="pass"><input type="password" placeholder="Password" name="password"></div>
                <button type="submit">Sign In</button>

            </form>
            <h3>or Connect with Social Media</h3>
            <div id="gog">
                <button>
                    <div id="IMG"><img src="/images/g-removebg-preview.png" alt=""></div>
                   <h1>sign in with google</h1>
                </button>   
            </div>
            <h3 id="new">New on LOCI? </h3>
            <div id="h"><a href="/register"><h2>Sign up</h2></a></div>
        </div>
    </div>
    
</body>
</html>