<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOCI</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="shortcut icon" href="/images/Screenshot 2023-05-20 110941.png" type="image/x-icon">
</head>

<body>
    <div id="ripple">
        <p></p>
        <div id="loader">
            <div id="logo1">
    
                <img src="/images/Screenshot 2023-05-20 110941.png" alt="">
            </div>
    </div>
    </div>
    <div id="main">
        <div id="nav">
            <div id="logo">
                <img src="/images/Screenshot 2023-05-20 110941.png" alt="">
            </div>
            <div id="search">
                <h3><i class="ri-search-2-fill"></i><input type="text" name="Search" placeholder="Search..."></h3>
            </div>
            <div id="account">
                <div id="cart"><i class="ri-shopping-cart-fill"></i>
                </div>
                <a href="/login">
                <div id="profile">
                    <i class="ri-account-circle-fill"></i>
                </div></a>
            </div>
        </div>
        <div id="ad">
            <h1 id="small">Sale</h1>
            <h1>sale</h1>
            <div id="IMG1" class="im">
                <img src="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWVucyUyMGZhc2hpb258ZW58MHx8MHx8fDA%3D&w=1000&q=80" alt="">
            </div>
            <div id="sale">
                <h3>FLAT</h3>
                <h2>60%</h2>
                <h3>OFF</h3>
                <button>Shop Now</button>
            </div>
            <div id="IMG2" class="im">
                <img src="https://i.pinimg.com/736x/b1/05/84/b105844f61cbb0fee80788987f1a43de.jpg" alt="">
            </div>

        </div>
        <div id="backscroll"></div>
        <div id="scroll">
            <div class="all">
                <div class="categories">
                    <a href="/women"><img src="https://img.freepik.com/premium-photo/funny-young-pretty-couples-girls-with-sunglasses-fashionable-clothes-with-trendy-leopard-coat-jeans-gray-suit-shoes-sits-street-near-gray-wall_338491-15002.jpg" alt=""></a>
                    <h2>Women's Clothing</h2>
                </div>
                <div class="categories">
                    <a href="/men">
                    <img src="https://www.fashionbeans.com/wp-content/uploads/2018/09/formal-attire-top-2.jpg" alt="">
                    </a>
                    <h2>Men's Clothing</h2>
                </div>
                <div class="categories">
                    <a href="/kid">
                    <img src="https://media.theeverymom.com/wp-content/uploads/2019/09/target-fall-kids-section.png" alt="">
                    </a>
                    <h2>Kids</h2>
                </div>
                <div class="categories">
                    <a href="/watch">
                    <img src="https://i.pinimg.com/564x/c8/fc/71/c8fc71fbbd21cb181a888ae5686e908d.jpg" alt=""></a>
                    <h2>Watch</h2>
                </div>
                <div class="categories">
                    <a href="/shoe">
                    <img src="https://media.gq.com/photos/55b93da0962900e47cf13081/4:3/w_908,h_681,c_limit/sneaker-purging-lead_1024.jpg" alt=""></a>
                    <h2>Footwear</h2>
                </div>
                <div class="categories">
                    <a href="/sunglasses">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKfWCGhnH_mODUcv1BYA_TY6uB4jRxBqd4LwnfawMvvtov5mCq" alt=""></a>
                    <h2>Sunglasses</h2>
                </div>
                <div class="categories">
                    <a href="/jewellery">
                    <img src="https://i.pinimg.com/originals/d7/95/ce/d795ce412423209b799d6b1ee87f6e99.jpg" alt=""></a>
                    <h2>Jewllery</h2>
                </div>
                <div class="categories">
                    <a href="/bags">
                    <img src="https://cdn.shopify.com/s/files/1/0094/6762/products/mia-tui-handbags-jennie-29530765787203_1200x630.jpg?v=1654449789" alt="">
                    </a>
                    <h2>Bags/Luggage</h2>
                </div>
            </div>

        </div>

        <h1 id="Tren">Trending</h1>
        <div id="trend"></div>
        <div id="container">
            <button id="prev" onclick="goprev()">
                <i class="ri-arrow-left-double-line"></i>
            </button>
            <div id="slide">
                <div class="particular">
                    <div id="left">
                        <img src="https://st3.depositphotos.com/2056297/34106/i/600/depositphotos_341062064-stock-photo-handsome-man-in-autumn-outfit.jpg" alt="">
                    </div>
                    <div id="right">
                        <div id="store">
                            <h2>Rashi Clothing</h2>
                            <h1>UPTO 70% OFF</h1>
                            <button>Shop Now</button>
                        </div>
                    </div>
                </div>
                <div class="particular">
                    <div id="left">
                        <img src="https://img.freepik.com/premium-photo/fashion-boy-girl-stylish-clothes-colored-wall-background-autumn-bright-clothes-children-child-posing-colored-purple-pink-background-russia-sverdlovsk-6-april-2019_86390-5983.jpg?w=2000" alt="">
                    </div>
                    <div id="right">
                        <div id="store">
                            <h2>Cute kid Store</h2>
                            <h1>UPTO 30% OFF</h1>
                            <button>Shop Now</button>
                        </div>
                    </div>
                </div>
                <div class="particular">
                    <div id="left">
                        <img src="https://i.pinimg.com/474x/2b/62/b1/2b62b1b073aaacc4e64190cb7db2f58b.jpg" alt="">
                    </div>
                    <div id="right">
                        <div id="store">
                            <h2>Ethinic Home</h2>
                            <h1>Upto 45% Off</h1>
                            <button>Shop Now</button>
                        </div>
                    </div>
                </div>

            </div>
            <button id="next" onclick="gonext()"><i class="ri-arrow-right-double-line"></i></button>
        </div>
        <div id="background">

        </div>
        <div id="footer">

            <div id="first">
                <h1>More from LOCI</h1>
                <h3>Jobs</h3>
                <h3>Customer Care</h3>
                <h3>Raise a Ticket</h3>
                <h3>Blog</h3>
                <h3>Our Story</h3>
                <h3>Contact Us</h3>
                <h3>FAQ's</h3>
            </div>

            
            <div id="second">
                <h2>Address</h2>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem, consectetur libero deleniti laborum vero?</h5>
            </div>
            <div id="third">
                <h1>Shop More </h1>
                <h5>Men's</h5>
                <h5>Women's</h5>
                <h5>Kid's</h5>
                <h5>Accessories</h5>
            </div>
            <div id="fourth">
                <h1>Let's Stay Connected</h1>
                <div id="mail">
                    <h4>Enter your email to unlock 10% OFF.</h4>
                    <input type="email" placeholder="Enter your Email"> <button>SUBMIT</button>

                </div>

                <div id="follow">
                    <h1>Follow us</h1>
                    <div id="social"> 
                        <i class="ri-pinterest-line"></i>
                        <i class="ri-facebook-line"></i>
                        <i class="ri-instagram-line"></i>
                        <i class="ri-twitter-line"></i>
                    </div>
                </div>
                <div id="terms">Terms of service | Privacy Policy | Refund Policy | Accesibility Policy</div>

            </div>

        </div>



        <script src="/javascripts/javascript.js"></script>


    </div>
</body>

</html>