<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title> 
    <link rel="shortcut icon" href="./Screenshot 2023-05-20 110941.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
    <div id="main">
        <div id="left">
            <h1>Sign Up</h1>
            <form action="/register" method="post">
                <div id="name"><input type="text" placeholder="Full Name" name="username"></div>
                <div id="num"><input type="number" placeholder="Mobile number" name="mobileNo"></div>
                <div id="email"><input type="email" placeholder="Email Address" name="email"></div>
                <div id="pass"><input type="password" placeholder="Password" name="password"></div>
                <button type="submit">Sign Up</button>    

            </form>
            <h3>Already on LOCI? </h3>
            <div id="h"><a href="/login"><h2>Sign in</h2></a></div>
            
        </div>
        <div id="right">
            <img id="logo" src="/images/Screenshot 2023-05-20 110941.png" alt="">
           <img  id="en" src="/images/en-removebg-preview.png" alt="">
           <!-- <div id="iiii"><img src="./both-removebg-preview.png" alt=""></div> -->
        </div>
    </div>
    
</body>
</html>