* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    scroll-behavior: smooth;
}

html,body {
    height: 100%;
    width: 100%;
}
 #loader{
    height: 100%;
    width: 100%;
    background-color:rgba(167, 167, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: back 4s ease-out .5s normal forwards;
    position: absolute;

}



@keyframes back {

0%{
    background-color:rgba(167, 167, 138);
    opacity:1 ;
    z-index:9 ;

}
20%{
background-color:rgba(167, 167, 138);
    opacity:1 ;
    z-index:99 ;


}
40%{
background-color:rgba(167, 167, 138);
    opacity:1 ;
    z-index:99 ;
}
50%{
background-color:rgba(167, 167, 138);
    opacity:1 ;
    z-index:99 ;

    
}
60%{
background-color:rgba(167, 167, 138);
    opacity:1 ;
    z-index:99 ;


}
80%{
    opacity:.8 ;
    z-index:99 ;
    background-color:rgba(167, 167, 138);
}
100%{
opacity: 0;
z-index:-1 ;
}
}   
#logo1{
height: 150px;
width: 150px;
outline: 9px black solid;
border-radius: 500px;   
outline-offset: 30px;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
animation: loading 3s ease .5s  forwards;
mix-blend-mode: color-burn;
transition: all ease 3s;  
}
#logo1 img{
height: 90%;
/* padding: 20px 25px; */
width: 90%;
/* mix-blend-mode: color-burn; */
opacity: 0;
animation: logo 3s ease .5s   forwards;
transition: all ease 3s;
}

@keyframes loading {
0%{
    outline-width: 3px;
    bottom: 0;
    outline-offset: 30px;
    left: 45%;
    scale: 1;  
    rotate: 0;
}
20%{
    outline-width: 10px;
    bottom: 40%;
    outline-offset: 30px;   
    left: 45%;
    scale: 1;
    outline-style: dashed;
}40%{
    bottom: 40%;
    outline-offset: 50px;   
    left: 45%;
    scale: 1;
    outline-style: dotted;
}50%{
    bottom: 40%;
    outline-offset: 30px;   
    left: 45%;
    scale: 1;
    outline-style: double;
}60%{
    bottom: 40%;
    outline-offset: 50px;
    left: 45%;
    scale: 1;
    outline-style: groove;
    /* rotate: -720deg; */
}
100%{
    rotate: -720deg;
    left: 1% ;
    bottom: 83.3%;
    scale: .407;
    outline-style: solid;
}
}

@keyframes logo {
0%{
    opacity: 0;
    scale: 0;
}
20%{
    opacity: .2;
    scale: .6;
}
40%{
    opacity: 1;
    scale: .6;
}
50%{
    opacity: 1;
    scale: .8;
}
60%{
    opacity: 1;
    scale: 1;
}100%{
    opacity: 1;
    scale: 1;
}

}

#main {
    height: 100%;
    width: 100%;
    /* background-color:#9999; */
    background-color: rgb(226, 226, 189);
    position: relative;
    overflow-x: hidden;
    /* overflow-y: auto; */
    /* white-space: nowrap; */
}

#main::-webkit-scrollbar {
    display: none;
}

#nav {
    width: 100%;
    height: 12%;
    /* background-color: red; */
    position: relative;
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding: 0 25px;
}

#nav #logo{
    height: 100%;
    width: 35%;
    /* background-color: red; */
    position: relative;
    overflow: visible;
    margin: 15px;

}

#nav #logo img {
    /* margin-left: -10%; */
    scale: .7;
    object-fit: cover;
    object-position: center;
    width: 32%;
    mix-blend-mode: color-burn;
    top: 3.5%;
    outline: 6px solid black;
    border-radius: 50%;
    outline-offset: 12px;
    overflow: visible;
}
#search {
    width: 90%;
    background-color: #ffffffab;
    height: 50%;
    border-radius: 50px;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    margin-right: 20%;
    font-family: gilroy;
}

#search h3 {
    width: 90%;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-right: 15px;
}

#search input {
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
    width: 91%;
    margin-left: 5px;
}

#account {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 18px;
}

#account i {
    padding: 0 15px;
    font-size: 160%;
}
#profile{
    /* background-color: #523b2b; */
    border-radius: 50%;
    color: black;
   

}
a{
    text-decoration: none;
}
#ad {
    height: 66%;
    width: 90%;
    background-color: #ffffffcb;
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 3.2%;
    margin-top: 2%;
}

#ad h1 {
    font-size: 500px;
    color: rgba(0, 0, 0, 0.103);
    position: absolute;
    z-index: -99;
}

#ad #small {
    font-size: 200px;
    color: rgba(0, 0, 0, 0.103);
    position: absolute;
    right: -4%;
    top: -22%;
}

.im {
    height: 70%;
    width: 25%;
    /* background-color: rgb(7, 7, 7); */
    /* background-color: rgb(58, 41, 9); */
    border: 5px double black;
    position: absolute;
    margin-top: 2.5%;
}

.im img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

#IMG1 {
    left: 6%;
}

#IMG2 {
    right: 6%;
}

#sale {
    height: 80%;
    width: 23%;
    /* background-color: blue; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#sale h2 {
    font-size: 140px;
    text-align: center;
    z-index: 1;
    margin-top: -25px;
    margin-bottom: -25px;
}

#sale h3 {
    font-size: 50px;
    text-align: center;
    z-index: 1;
}

#sale button {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#backscroll {
    height: 30%;
    margin-top: 8%;
    opacity: .5;
    width: 100%;
    background-color: cadetblue;
    position: absolute;
}

#scroll {
    height: 55%;
    width: 100%;
    /* background-color: blue; */
    margin-top: 3%;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 2%;
    z-index: 9;
}

#scroll::-webkit-scrollbar {
    display: none;
}

.all {
    height: 95%;
    width: 100%;
    position: relative;
    display: inline-block;
    animation: infinity 20s linear infinite;
    /* margin-right:997px; */
}

.categories {
    height: 100%;
    width: 20%;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    transition: all ease .3s;
}

.categories img {
    transition: all linear .1s;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    border: none;
    outline: none;
    scale: 1;
}

.categories h2 {
    transition: all linear .1s;
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    height: 14%;
    width: 100%;
    bottom: 6%;
    padding-top: 2.5%;
    scale: 1;
}

#scroll:hover .all {
    cursor: pointer;
    animation-play-state: paused;
}

.categories:hover img {
    scale: 1.08;
    outline: 8px black solid;
    outline-offset: -8px;
}

.categories:hover h2 {
    background-color: black;
    scale: 1.08;
}

.categories:hover {
    padding: 0 -9px -9px -9px;
}
/* @keyframes infinity {
0%{
    transform: translateX(0);
}    
100%{
    transform: translateX(calc(-100% 20px) );      
}        
} */

#Tren {
    font-size: 50px;
    font-weight: 600;
    color: rgb(82, 59, 43);
    text-align: center;
    font-family: raleway;
    /* border: 2px solid ; */
    /* border-style: dashed; */
    /* border-right: none; */
    /* border-left: none; */
    padding: 10px;
}

#trend {
    display: contents;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 30px;
    /* overflow-y: auto; */
    white-space: nowrap;
    margin-top: 1%;
    background-color: blue;
}

#trend::-webkit-scrollbar {
    display: none;
}

.shop {
    height: 50%;
    width: 90%;
    /* background-color: aquamarine; */
    /* border: 2px solid black; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

#product {
    height: 90%;
    width: 20%;
    /* background-color: blueviolet; */
    /* border: 2px solid black; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#product img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

#details {
    height: 90%;
    width: 70%;
    /* background-color: blue; */
    position: absolute;
    right: 6%;
    padding: 10px;
}

#con {
    height: 50%;
    width: 80%;
    /* background-color: bisque; */
    position: relative;
}

#con #info {
    height: 60%;
    width: 90%;
    /* background-color: aqua; */
}

#con h3 {
    font-size: 20px;
    color: black;
    font-weight: 500;
    padding-top: 5px;
    padding-left: 15px;
}

#con #seller {
    height: 40%;
    width: 100%;
    /* background-color: aquamarine; */
}

#details #rate {
    height: 60px;
    width: 60px;
    background-color: rgb(209, 176, 231);
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 1%;
}

#rate h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

#cost {
    height: 23%;
    width: 12%;
    /* background-color: brown; */
    position: absolute;
    top: 62%;
    padding-top: .8%;
    /* border: 1px solid black; */
    margin-left: 15px;
}
#cost span{
    font-size: 28px;
    font-weight: 900;
    position: relative;
    top: 60%;
    left: 10%;
}

#cost h1 {
    font-size: 29px;
    text-align: center;
    font-weight: 500;
}

#addtocart button {
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 50px;
    outline: none;
    border: 2px solid black;
    position: absolute;
    top: 65%;
    /* background-color:rgba(128, 0, 128, 0.253); */
    font-weight: 600;
    right: 5%;
    font-family: gilroy;
    transition: all ease .2s;
}

#buynow button {
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 50px;
    outline: none;
    border: 2px solid black;
    position: absolute;
    top: 65%;
    right: 20%;
    font-weight: 600;
    margin-right: 2%;
    font-family: gilroy;
    transition: all ease .3s;
}

#buynow button:hover {
    background-color: #523b2b;
    color: white;
    scale: 1.1;
    border: solid white 2.5px;
}

#addtocart button:hover {
    background-color: #523b2b;
    color: white;
    scale: 1.1;
    border: solid white 2.5px;
}

#container {
    width: 100%;
    height: 85%;
    /* background-color: #523b2b; */
    position: relative;
    padding-top: 10px;
    /* display: flex; */
    /* margin-top: 60px; */
}

#slide {
    width: 85%;
    height: 400px;
    /* background-color: red; */
    margin: auto;
    margin-top: 60px;
    position: relative;
    /* display: flex; */
    overflow: hidden;
}

.particular {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
    position: absolute;
    transition: all linear .3s;
    overflow: hidden;
}

.particular #left {
    width: 60%;
    height: 100%;
    /* position: relative; */
}

#left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.particular #right {
    width: 40%;
    height: 100%;
}

#right #store {
    width: 90%;
    height: 300px;
    /* background-color: red; */
    margin: auto;
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#store h2 {
    font-size: 3vw;
}

#store h1 {
    font-size: 4vw;
}

#store button {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
}

button i {
    font-size: 40px;
}

#prev {
    position: absolute;
    top: 45%;
    font-size: 35px;
    color: rgb(77, 76, 76);
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: rgba(194, 191, 191, 0.534);
    margin: 0 8px;
    padding: 3px 6px;
    transition: all ease .3s;
    left: 2%;
    z-index: 9;
}

#next {
    position: absolute;
    top: 50%;
    font-size: 35px;
    color: rgb(100, 99, 99);
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: rgba(194, 191, 191, 0.623);
    margin: 0 8px;
    padding: 3px 6px;
    transition: all ease .3s;
    right: 2%;
    z-index: 9;
}

#next:hover {
    color: black;
    background-color: transparent;
    right: 1%
}

#prev:hover {
    color: black;
    background-color: transparent;
    left: 1%;
}
#background{
    height: 40%;
    width: 100%;
    background: #f9f3de;
    position: absolute;
    rotate: 180deg;
    clip-path: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%); shape-outside: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%);

}
#footer {
    height: 50%;
    width: 100%;
    background-color: white;
    /* background-color:rgb(139, 139, 99); */
    /* background-image: linear-gradient(rgb(139, 139, 99),rgb(104, 104, 67)); */
    /* box-shadow: -4px -4px 85px rgb(179, 179, 4); */
    /* box-shadow: -4px -4px 85px rgb(65, 65, 4); */
    margin-top: 9%;
    position: relative;
    /* background-color: transparent; */
    display: flex;
    background-color: #f9f3de;
    padding: 0 15px;
    color: rgb(59, 42, 17);
}

#first{
    height: 100%;
    width: 25%;
}
#first h1{
    font-size: 28px;
}
#first h3{
    font-size: 16px;
    margin: 14px 0;
}

#third{
    height: 100%;
    width: 25%;
    padding: 0px 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#third h1{
    font-size: 25px;
    margin-bottom: 30px;
}
 
#third h5{
    font-size: 14px;
    margin: 10px;
    font-weight: 650;
}

#second{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5%;

}
#second h2{
    margin: 12px 0;
    font-weight: 650;

}      
#fourth{
    margin-top: -5%;
    width: 25%;
    height: 100%;
}
#fourth h1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}
#fourt button{
    outline: none;
    border: none;
    width: 76%;
}
#fourth input{
    width: 76%;
    font-family: gilroy;
    color: #dadada;
    outline: none;
    border:none;
    background-color:#f9f3de ;

}
#fourth button{
    color: rgb(59, 42, 17) ;
    font-weight: 900;
    border: none;
    outline: none;
    letter-spacing: 1px;
    background-color:  transparent;
}
#mail{
    padding: 8px 0;
    width: 75%;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
#follow{
    height: 50%;
    width: 100%;
}
#follow h1{
    font-size: 28px;
    font-weight: 700;
    /* margin-bottom: -1px; */
}
#social{
width: 100%;
height: 15%;
/* background-color: #fff; */
position: absolute;
align-items: center;
justify-content: center;
}
#social i{
    border-radius: 50px;
    background-color: rgb(59, 42, 17);
    font-size: 24px;
    color:#f9f3de  ;
    padding: 5px;
    margin: 0 10px;
    transition: all ease .2s;
}
#social i:hover{
    outline: solid 10px rgb(59, 42, 17);
    outline-offset: -2px;
}
#terms{
    width: 35%;
    position: absolute;
    bottom: 10%;
    right: 4%;
}